<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Translation Report</title>
</head>

<body>
  <h1>REPORT ON {{ report.name }}</h1>
  <table border="2">
    <tr>
      <th>Names</th>
      <th>Process</th>
      <th>Last Time (s)</th>
      <th>Average Time (s)</th>
      <th>Remain Time (s)</th>
      <th>Total Time (s)</th>
      <th>Changed Num</th>
      <th>Proxies</th>
    </tr>
    <tr>
      <td>Google</td>
      <td>{{ report.ggl_cnt }}/{{ report.ggl_tot_cnt }} ({{ report.ggl_process | round(2) }}%)</td>
      <td>{{ report.ggl_last_time | round(2) }}</td>
      <td>{{ report.ggl_avg_time | round(2) }}</td>
      <td>{{ report.ggl_remain_time | round(2) }}</td>
      <td>{{ report.ggl_tot_time | round(2) }}</td>
      <td>{{ report.ggl_obj_changed_cnt }}</td>
      <td>{{ report.ggl_proxies_num }}</td>
    </tr>
    <tr>
      <td>Baidu</td>
      <td>{{ report.baidu_cnt }}/{{ report.baidu_tot_cnt }} ({{ report.baidu_process | round(2) }}%)</td>
      <td>{{ report.baidu_last_time | round(2) }}</td>
      <td>{{ report.baidu_avg_time | round(2) }}</td>
      <td>{{ report.baidu_remain_time | round(2) }}</td>
      <td>{{ report.baidu_tot_time | round(2) }}</td>
      <td>{{ report.baidu_obj_changed_cnt }}</td>
      <td>{{ report.baidu_proxies_num }}</td>
    </tr>
    <tr>
      <td>XiaoNiu</td>
      <td>{{ report.xiaoniu_cnt }}/{{ report.xiaoniu_tot_cnt }} ({{ report.xiaoniu_process | round(2) }}%)</td>
      <td>{{ report.xiaoniu_last_time | round(2) }}</td>
      <td>{{ report.xiaoniu_avg_time | round(2) }}</td>
      <td>{{ report.xiaoniu_remain_time | round(2) }}</td>
      <td>{{ report.xiaoniu_tot_time | round(2) }}</td>
      <td>{{ report.xiaoniu_obj_changed_cnt }}</td>
      <td>{{ report.xiaoniu_proxies_num }}</td>
    </tr>
  </table>
  
</body>

</html>