<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Proxy Report</title>
</head>

<body>
  <h1>Proxy Report</h1>
  <h2>Total Proxies: {{ data.tot_proxies }}</h2>
  <table border="2">
    <thead>
      <tr>
        <th>Type</th>
        <th>Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Google</td>
        <td>{{ data.google_num }}</td>
      </tr>
      <tr>
        <td>Non-Google</td>
        <td>{{ data.non_google_num }}</td>
      </tr>
    </tbody>
  </table>
</body>

</html>